<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.minse0.spring.test.real_estate.repository.EstateRepository">
 	<select id="selectEstate"
 	resultType="com.minse0.spring.test.real_estate.domain.Estate">
 		SELECT
	 		`id`
	 		, `realtorId`
	 		, `address`
	 		, `area`
	 		, `type`
	 		, `price`
	 		, `rentPrice`
	 		, `createdAt`
	 		, `updatedAt`	
 		
 		FROM
 		
 		`real_estate`
 		
    	  WHERE `id` = #{id}
 	</select>
 </mapper>