<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minse0.spring.test.mvc.repository.SellerRepository">

    <insert id="insertSeller" parameterType="map">
        INSERT INTO `seller`
        (`nickname`, `temperature`, `profileImage`)
        VALUES
        (#{nickname}, #{temperature}, #{profileImage})
    </insert>

    <!-- 최근 등록된 셀러 1명 조회 -->
    <select id="selectLastSeller" resultType="com.minse0.spring.test.mvc.domain.Seller">
        SELECT
            `id`,
            `nickname`,
            `temperature`,
            `profileImage`,
            `createdAt`,
            `updatedAt`
        FROM `seller`
        ORDER BY `id` DESC
        LIMIT 1
    </select>

    <!-- ID로 셀러 조회 -->
    <select id="selectSellerById" resultType="com.minse0.spring.test.mvc.domain.Seller">
        SELECT
            `id`,
            `nickname`,
            `temperature`,
            `profileImage`,
            `createdAt`,
            `updatedAt`
        FROM `seller`
        WHERE `id` = #{id}
    </select>

</mapper>
