<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <!-- 특정 Repostory interface와 연결 설정 -->
 <mapper namespace="com.minse0.spring.test.database.repository.StoreRepository">
 
 	<!-- 연결된 Repository 특정 메소드에 대한 구현 (query) -->
 
 	<select id="selectUsedGoodsList"
 	resultType="com.minse0.spring.test.database.domain.Store">
 		SELECT 
 		`id`
 		 , `name`
 		 , `phoneNumber`
 		 , `address`
 		 , `businessNumber`
 		 , `introduce`
 		 , `createdAt`
 		 , `updatedAt`
 		 
 	 FROM
 		  `used_goods`
 	</select>
 
 
 
 
 </mapper>
 