<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h2>즐겨찾기 추가</h2>
		<label>이름</label>
		<input type="text" class="form-control" id="nameInput">
		<label>주소</label>
		<input type="text" class="form-control" id="urlInput">
		<button id="addBtn" type="button" class="btn btn-success btn-block  mt-3">추가</button>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script>
		$("#addBtn").on("click", function(){
			let name = $("#nameInput").val();
			let url = $("#urlInput").val();
			
			if(name == ""){
				alert("사이트 이름을 입력하세요");
				return;
			}
			
			if(url == ""){
				alert("주소를 입력하세요");
				return;
			}
			
			// https:// 로 시작하지 않는다 그리고 https:// 로 시작하지 않는다
			if(!url.startsWith("http://") && !url.startsWith("https://")){
				alert("잘못된 규격의 주소입니다.")
				return;
			}
			$.ajax({
				type:"post"
				, url : "/ajax/favorite/create"
				, data : {"name" : name, "url" : url}
				, success:function(response){
				if(response.result == "success"){
					// /ajax/list로 이동
					// 새로운 요청
					location.href = "/ajax/favorite/list";
				} else{
					alert("즐겨찾기 추가 실패!")
				  }
				
				
				}
				, error:function() {
					alert("즐겨찾기 추가 에러!")
				}
			});
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		});
	</script>
</body>
</html>