<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>예약 목록 리스트</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <style>
    .nav-bar {
      background-color: peru;
    }
    .nav-bar a {
      color: white;
      font-weight: bold;
    }
    .nav-bar a:hover {
      text-decoration: underline;
    }
    footer {
      font-size: 0.9rem;
      color: #555;
      margin-top: 80px;
      padding: 20px 0;
      border-top: 1px solid #ccc;
      text-align: center;
    }
  </style>
</head>
<body>
	
	  <div class="text-center my-4">
	    <h2>통나무 펜션</h2>
	  </div>
	
	  
	  <nav class="nav justify-content-center nav-bar py-2">
	    <a class="nav-link" href="#">펜션소개</a>
	    <a class="nav-link" href="#">객실보기</a>
	    <a class="nav-link" href="#">예약하기</a>
	    <a class="nav-link" href="#">예약목록</a>
	  </nav>


	<h2 class="text-center">예약 목록 보기</h2>
	<table class="table text-center" >
		<thead>
			<tr>
				<th>이름</th>
				<th>예약날짜</th>
				<th>숙박일수</th>
				<th>숙박인원</th>
				<th>전화번호</th>
				<th>예약상태</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><button type="button" class="btn btn-danger btn-sm delete-btn">삭제</button> </td>
			</tr>
		</tbody>
	</table>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	        crossorigin="anonymous"></script>
	        
	<script>
	
	</script>    
	
	<footer>
	    제주특별자치도 제주시 애월읍 <br>
	    사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표: 김통목<br>
	    Copyright 2025 tongnamu All right reserved
    </footer>    
</body>
</html>