<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
					<th>생년월일</th>
					<th>전화번호</th>
					<th>국적</th>
					<th>이메일</th>
					<th>자기소개</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member : ${members}">
					<td th:text="${member.}">1</td>
					<td th:text="${member.Name}">유비</td>
					<td th:text="${member.Birth}">161년 7월 7일</td>
					<td th:text="${member.PhoneNumber}">010-1234-5678</td>
					<td th:text="${member.Nationality}">삼국-촉한</td>
					<td th:text="${member.Email}">youbee@gmail.com</td>
					<td th:text="${member.Introduce}">저는 촉의 군주 유비입니다...</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>